<div class="col-lg-6">
    <form action="" method="POST" class="centerForm">
        {{form.hidden_tag()}}
        <fieldset>
            
            <div class="form-group">
                <p>{{ form.username.label(class="form-control-label") }}</p>
                <p> {{ form.username(class="form-control-input") }}</p>
            </div>

            <div class="form-group">
                <p>{{ form.password.label(class="form-control-label") }}</p>
                <p> {{ form.password(class="form-control-input") }}</p>
            </div>

            <div class="form-group">
                {{ form.submit }}
            </div>
        </fieldset>
    </form>

</div>