{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}

<div  class="container">
    <div class="row" style="background-color: aliceblue;">
        <div class="col-lg-6">
            <img src="{{ url_for('static', filename = 'images/blogblog.jpg')}}" alt="image" style="height: 75vh;width: 105%;">
        </div>
    
    
    <div class="col-lg-6 tab-content">
        <ul class="nav nav-pills nav-justified nav-fill" role="tablist">
            <li class="nav-item" >
                <a id ="all" class="nav-link" data-toggle="tab" href="#all"><strong>Add New Blog</strong> </a>
            </li>
        </ul>
        <div  class="container tab-pane active"><br>
            {{wtf.quick_form(form)}}
        </div>
    </div>
</div>

{% endblock %}