<div class="col-lg-6">
    <form action="" method="POST" class="centerForm">
        {{form.hidden_tag()}}
        <fieldset>
            <div class="form-group">
                <p>{{ form.title.label(class="form-control-label") }}</p>
                <p>{{ form.title(class="form-control-input") }}</p>
            </div>
    
            <div class="form-group">
                <p>{{ form.content.label(class="form-control-label") }}</p>
                <p> {{ form.content(class="form-control-input") }}</p>
            </div>

            <div class="form-group">
                <p>{{ form.author.label(class="form-control-label") }}</p>
                <p> {{ form.author(class="form-control-input") }}</p>
            </div>

            <div class="form-group">
                {{ form.submit }}
            </div>
        </fieldset>
    </form>

</div>