{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container" id="allcomments" >
        <div class="row">
            <div class="col-lg-4">
                <img src="{{ url_for('static', filename = 'images/how-to-blog.jpg')}}" alt="image" style="height: 75vh;width: 105%;">
                
            </div>
            {% if all_comments %}
            <div class="col-lg-4" >
                <h3 class="text-center">The Blog</h3>
                <p>{{ blog.content }}</p>
                <h3 class="text-center" id="coms">Comments</h3>
                {% for comment in all_comments %}
                <div class="card w-90 mb-3" >
                    <div class="card-body">                            
                        <p class="card-title">{{ comment.comment }}</p>
                        <p class="card-text">*** {{comment.user.username}}</p>
                    </div>
                </div>
                {% endfor %}
                </div>
                <div class="col-lg-4" >
                        {{wtf.quick_form(form)}}
                </div>
        </div>
            {%else%}
            
        <div class="col-lg-4">
            {{wtf.quick_form(form)}}
        </div>
            {%endif%}
    </div>

{% endblock %}