{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="container-fluid">

</div>
<div class="row">
  <div class="col-lg-8 banner">
      <img src="{{ url_for('static', filename = 'images/Blogging.png')}}" alt="image" style="height: 90vh;">
    
  </div>
  <div class="col-lg-4">
    <div">
      <img src="{{ url_for('static', filename = 'images/download.jpeg')}}" alt="image" style="height: 45vh; width: 100%;">
      <div class="bg-transparent text-white" style="text-align: center; position: absolute; transform:translate(50%, -100%);">
        <h3>Lifestyle</h3>
        <p>Trowback To The Good Old Days.</p>
      </div>
        
      <div>
        <img src="{{ url_for('static', filename = 'images/guitar.jpeg')}}" alt="image" style="height: 45vh; width: 100%;">
        <div class="bg-info" style="text-align: center;position: absolute;transform:translate(0%, -100%);color: #000000;">
          <h3>Music</h3>
          <p>What Your Music Preference Says About You and Your Personality</p>
        </div>      
      </div>
    </div>

  </div>
</div>

<div class="container-fluid aboutUs" style="padding: 70px; background-color: #c5c5c52d;">
  <div class="container text-center">
    <h1> What's hot!</h1>
    <hr>
    <p>Blogging is story-telling. A good blog design becomes a part of the stories you tell. A simple, austere tech blog can communicate seriousness and clarity. A whimsical, cartoonish parenting blog suggests fun and relatability.</p>
    <p>The storytelling quality of a design should never obscure or get in the way of reading the blog. A good blog design tells a story— but is also be conventional and makes reading comfortable (don’t design something so unusual that it confuses readers!). This is a collection of 26 blogs— spanning multiple industries— that I believe are good examples of good blog designs.</p>
  </div>


</div>

<div class="container-fluid" style="background-color: #84E4F7;">
  <div class="row">
    <h1 class="text-center">Blogs Available</h1>
    {% for gossip in blog %}
        <div class="col-lg-4 mt-4" style="margin-bottom: 5px;">
            <div class="card" style="height: 320px;">
                <div class="card-body">
                    <h3 class="card-title text-center text" style="color: #ff1493;">{{gossip.title}}</h3>
                    <p class="card-text">{{gossip.content}}</p>
                    <p class="card-text text-center"><b>Arthor: </b>{{gossip.author}}</p>
                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <a class="btn" style="background-color: #ff1493;" href="{{ url_for('main.add_comment') }}">Comment</a>
                        </div>
                        <div class="thumb" style="display: flex;">
                            <p><span class="material-symbols-outlined">thumb_up </span>0</p>
                            <p><span class="material-symbols-outlined">thumb_down</span>0</p>
                        </div>
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
  
  </div>

</div>


  
  

{% endblock%}
