{% extends 'base.html' %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="row ">
  <div class="row bg-primary">
    <h1 class="text-center">Blogs</h1>
    {% for gossip in blog %}
        <div class="col-lg-6 mt-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">{{gossip.title}}</h3>
                    <p class="card-text">{{gossip.content}}</p>
                    <p class="card-text text-center"><b>Author: </b>{{gossip.author}}</p>
                    <div style="display: flex; justify-content: space-between;">
                      <div>
                          <a class="btn btn-primary" href="{{ url_for ('main.add_comment') }}">Comment</a>
                      </div>
                      <div class="thumb">
                          <p><span class="material-symbols-outlined">thumb_up </span>0</p>
                          <p><span class="material-symbols-outlined">thumb_down</span>0</p>
                      </div>
                    
                    
                </div>
          </div>
      </div>
    
    {% endfor %}
  </div>
</div>
  

{% endblock%}
